.mat-card {
    padding: 15px;
}

.mat-card-title {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
}

.currency {
    max-width: 15rem;
}

.name {
    max-width: 15rem;
}