<mat-card class="mat-card">
    <mat-card-title class="mat-card-title">Alterar Produto</mat-card-title>
    <form>
        <mat-form-field class="name">
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field class="currency">
            <input matInput currencyMask placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>

    <div class="area-botoes">
        <button mat-raised-button color="primary" (click)="update()">
            Salvar
        </button>
        
        <button mat-raised-button (click)="read()">
            Cancelar
        </button>
    </div>
</mat-card>